<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>

<meta charset="utf-8">
<meta name="generator" content="quarto-1.2.475">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<link rel="stylesheet" href="styles.css">

<style>

</style>

<body>
<div class='main-row'>
  <div class='col1' style='width:25%; height:100vh; float:left; '>
    <img class='zoom center' style='border-radius: 50%;' src='https://i.postimg.cc/W3ppj6SP/Kate-pic.png', width='170px' height='170px'>
    <br>
    <div class='text center'>
      <h2> Hello! </h2>
      My name is Kate and I'm a data scientist and junior economist at the <a href='https://www.oecd.org/dev/'>OECD's Development Centre</a>.
    </div>

  </div>

  <div class='col2'>
    <div class='center'>
    <br>
    <br>
    <a href='https://kate-chalmers.com/posts/post-with-code/'>
      <img class='zoom' style='border: solid black' src='https://i.postimg.cc/HkG5Srjq/temp.png' width='180px' height='130px'>
    </a>
    <br>
    <br>
    <span style='font-size:24px; padding:10px; text-align:left!important'> <b>Post #1:</b> Maddison Graph </span>
      <div style='padding:10px; text-align:left'>
      This is a recreation of the R4DEV plot #1...
      </div>
    </div>
  </div>

  <div class='col2'>
  <div class='center'>
    <br>
    <br>
    <a href='https://kate-chalmers.com/posts/post-with-code/'>
      <img class='zoom' style='border: solid black' src='' width='180px' height='130px'>
    </a>
    <br>
    <br>
    <span style='font-size:24px'> <b>Post #2:</b> TBD </span>
  </div>
  </div>

  <div class='col2'>
    <div class='center'>
    <br>
    <br>
    <a href='https://kate-chalmers.com/posts/post-with-code/'>
      <img class='zoom' style='border: solid black' src='' width='180px' height='130px'>
    </a>
    <br>
    <br>
    <span style='font-size:24px'> <b>Post #3:</b> TBD </span>
    </div>
  </div>


</div>
</body>
